@import "../../config";

.controlPanelPage {
  @include flexColumnRelative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.cpTitle {
  @include flexRowRelative;
  justify-content: center;
  width: 350px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #105a9e;

  border-bottom: 1px #105a9e solid;
  margin-bottom: 20px;
}